.play{
    background-color: rgba(255, 0, 200, 0.966);
}
li a:hover {
    background-color:#66ff00 ;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li {
    float: left;
    display: block;
    padding: 15px;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 50px 15px 50px 15px;
}
